autom4te.cache
boot*
config.cache
config.h
config.h.in~
config.log
config.status
.deps
*.diff
directfb-config
directfb-internal.pc
DirectFB.kdevelop
DirectFB.kdevelop.pcs
DirectFB.kdevses
directfb.pc
*.vpj
*.vtg
*.vpw
*.vpwhistu
Doxyfile
gmon.out
inst
*.la
.libs
libtool
*.lo*
ltconfig
makedirectfb.sh
Makefile
mkinstalldirs
*.nm
*.o
*.patch
stamp-h
stamp-h1
stamp-h.in
*.orig
*.rej

*.ko
*.cmd
*.mod.c
.tmp_versions
Module.symvers
modules.order
/gfxdrivers/sh7734/modules/.installed
!/gfxdrivers/sh7734/modules/Makefile.in
